# Анализ данных на Python

## Практика. Библиотека `Pandas`. Типы данных. Выборка и генеральная совокупность
#### <i>Малкова Ксения, Преподаватель ФКН НИУ ВШЭ, kemalkova@hse.ru</i>

Анализируем датасет с информацией об атлетах участвовавших в Олимпийских играх ([olymp.csv](https://github.com/ksumarshmallow/Data-Analysis-Design-24/blob/main/data/olymp.csv)). Скачайте его. Разделитель запятая.

Данные содержат следующие признаки:
- `ID` - уникальный номер спортсмена
- `Name` - имя атлета
- `Sex` - пол (мужской - M,  женский - F)
- `Age` - возраст атлета
- `Height` - рост (в см)
- `Weight` - вес (в кг)
- `Team` - cтрана
- `NOC` - код страны от Олимпийского комитета (3 буквы)
- `Games` - год и сезон Олимпийских игр
- `Year` - год Олимпийских игр
- `Season` - сезон (Зимние - Winter,  Лето - Summer)
- `City` - город проведения Олимпийских игр
- `Sport` - спортивная дисциплина
- `Event` - категория спортивной дисциплины
- `Medal` - достоинство медали (Золото - Gold, Серебро - Silver, Бронза - Bronze, Без медали - NaN)

In [2]:
import pandas as pd
data = pd.read_csv('../../data/olymp.csv')

## Задание 1
Укажите **город**, в котором проходила Олимпиада, в котором участвовала спортсменка которая идет 10-й в датасэте.

## Задание 2
Укажите **страну**, за которую выступал спортсмен, идущий 6-м с конца в датасэте.

### Задание 3
Отметьте все столбцы в которых содержатся данные типа float64

## Задание 4
Сколько спортсменов наградили медалями, за период, который представлен в датасете?

## Задание 5
Узнайте размер датасета

## Задание 6
Датафрейм лежит в переменной df. Вы обратились к его определенной колонке, но случайно стерли код. Однако, остался вывод ячейки:

```python
0	 Barcelona
1	 London
2	 Antwerpen
3	 Paris
4	 Calgary
...	...
271111	 Innsbruck
271112	 Sochi
271113	 Sochi
271114	 Nagano 
271115	 Salt Lake City
```

К какой колонке Вы обращались? Восстановите код, с помощью которого был получен вывод выше:

## Задание 7
Датафрейм лежит в переменной df. Вы смотрели на определенные колонки датафрейма, но снова удалили код. К счастью, вывод ячейки все же остался: 

```python
Sport	 Season	 Team
0	 Basketball	 Summer	China
1	 Judo	 Summer	China 
2	 Football	 Summer	 Denmark
3	 Tug-Of-War	 Summer	 Denmark/Sweden
4	 Speed Skating	 Winter	 Netherlands
...	...	 ...	 ...
271111	 Lugo	 Winter	 Poland-1
271112	 Ski Jumping	 Winter	 Poland
271113	 Ski Jumping	 Winter	 Poland
271114	 Bob	 Winter	 Poland
271115	 Salt Lake City	 Winter	 Poland
```

К каким колонкам Вы обращались? Восстановите код, с помощью которого был получен результат выше:

## Задание 8
Какой вес у атлета под индексом 666? В ответ введите целое число.